

<body>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h3>Registration</h3>
  <label for="username">Username:</label>
  <input type="text" id="username" formControlName="username" required>

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" required>

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" required>

  <button type="submit" [disabled]="!registrationForm.valid">Register</button>
  <button (click)="toggleApiVersion()">Toggle API Version</button>


  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</form>
</body>
