<header>Password Change

</header>

  <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">

  <label for="username">Username:</label>
  <input type="text" id="username" formControlName="username" required>

  <label for="old_password">Existing Password:</label>
  <input type="password" id="old_password" formControlName="old_password" required>

  <label for="new_password">New Password:</label>
  <input type="password" id="new_password" formControlName="new_password" required>

  <nav>
    <button type="submit" [disabled]="!passwordChangeForm.valid">Change Password</button>
    <button type="button" (click)="Goback()">Go back to system screen</button>
    <button type="button" (click)="showPasswordPolicy()" matTooltip="Password Policy">
      Show Password Policy
    </button>
    <button type="button" (click)="toogleapiversion()">Toogle API version</button>

  </nav>

  <div *ngIf="successMessage" class="success-message">
    <strong>Success:</strong> {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    <strong>Error:</strong> {{ errorMessage }}
  </div>

</form>
