header {
  color: #333;
  text-align: center;
  background-color: #669ed1;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(2, 2, 2, 0.2);
  /* margin-top: 5px; */
}


form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


button {
  background-color: #68bbdb;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

button:disabled {
  background-color: #e60505;
  cursor: not-allowed;
}

.success-message {
  color: #27ae60;
  margin-top: 10px;
}

.error-message {
  color: #c0392b;
  margin-top: 10px;
}
body{
  background-color: #eff5fa;
  box-shadow: 8px 8px 30px rgba(2, 2, 2, 0.2);
}
.cdk-overlay-pane {
  display: flex;
  align-items: top;
  justify-content: top;
}
