header {
  color: #333;
  text-align: center;
  background-color: #669ed1;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 8px 8px 30px rgba(2, 2, 2, 0.2);
  /* margin-top: 5; */
}

.customer-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #30689c;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.new-customer-name {
  margin-top: 20px;
  color: #4caf50;
}

.customer-details {
  margin-top: 20px;
}

.error-message {
  margin-top: 20px;
  color: #e74c3c;
}

button:not(:last-child) {
  margin-right: 10px;
}

.success-message {
  margin-top: 20px;
  color: #4caf50;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}
body{
  background-color: #eff5fa;
  box-shadow: 8px 8px 30px rgba(2, 2, 2, 0.2);
}
