.forget-password-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #eed5d5;
  border-radius: 5px;
  box-shadow: 8px 8px 30px rgba(2, 2, 2, 0.2);
  /* margin-top: 40px; */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.forget-password-container{
background-color: rgb(240, 240, 240);
}


body{
  background-color: #eff5fa;
  box-shadow: 8px 8px 30px rgba(2, 2, 2, 0.2);

}
