<body>
  <div class="forget-password-container">
    <h3>Reset password</h3>

    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmitForgetPassword()" *ngIf="!isSuccessfulResponse">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="forgetPasswordForm.get('email')?.hasError('email') && forgetPasswordForm.get('email')?.touched">
          Please enter a valid email address.
        </div>
      </div>

      <button type="submit" [disabled]="!forgetPasswordForm.valid">Submit</button>
    </form>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()" *ngIf="isSuccessfulResponse">
      <div class="form-group">
        <label for="username">Enter User name:</label>
        <input type="text" id="username" formControlName="username" required>
      </div>

      <div class="form-group">
        <label for="Key">Enter Key:</label>
        <input type="text" id="Key" formControlName="Key" required>
      </div>

      <div class="form-group">
        <label for="newPassword">Enter New Password:</label>
        <input type="password" id="newPassword" formControlName="password" required>
        <div *ngIf="resetPasswordForm.get('password')?.hasError('minlength') && resetPasswordForm.get('password')?.touched">
          Password must be at least 8 characters long.
        </div>
      </div>

      <button type="submit" [disabled]="!resetPasswordForm.valid">Submit</button>
    </form>
  </div>
</body>
